# Dependencies
node_modules

# Logs & Testing
npm-debug.log*
/coverage

# Next.js
.next
/out/
/build

# Env files
.env
.env.*
!.env.example

# Typescript
*.tsbuildinfo
next-env.d.ts

# Prisma Generated Client
**/generated/

# OS files
.DS_Store
